.user-container {
  display: flex;
  gap: 5px;
  background: var(--tertiary-light);
  width: 80%;
  margin: 1rem auto;
  align-items: center;
  justify-content:space-between;
}


.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.footer span{
  font-size: 1.2rem;
}
.avatar-large{
  width: 6rem;
  height: 6rem;
}

.avatar-text-lg{
  font-size: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:750px){
  .user-container{
    width: 100%;
  }
}