.container {
  width: 20%;
  height: inherit;
  background-color: var(--tertiary);
}

.tabs-container {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-container {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.user-detail {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 1rem;
}
