.container {
  width: 20%;
  height: 98vh;
  background-color: var(--tertiary-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  height: 60%;
  justify-content: space-between;
}
.tab-item {
  cursor: pointer;
  display: flex;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 1rem;
}
.tab-item:first-child:hover {
  background: none;
}
.tab-item:hover {
  background: var(--tertiary-lighter);
}
.tab-item > * {
  font-size: 2rem;
}

.profile-container {
  display: flex;
  flex-direction: row;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
}
.logout-btn {
  font-size: 2rem;
  cursor: pointer;
}

.user-detail {
  display: flex;
  flex-direction: column;
}

.user-detail span {
  font-size: 2rem;
  font-weight: bolder;
}
.mini-create-btn{
  display:none;
  font-size: 2.4rem;
  padding: 5px;
}

@media only screen and (max-width:750px){
  .container{
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: 5rem;
    padding: 1rem;
    width: 100vw;
    gap: 2rem;
  }
  .tabs-container{
    flex-direction: row;
    align-items: center;
    height: auto;
    flex-grow: 1;
  }
  .tab-item{
    padding: 5px;
  }
  .tab-item span{
    display:none;
  }
  .user-detail{
    display:none;
  }
  .mini-create-btn{
    display:block;
  }
  .post-btn{
    display:none;
  }
}