.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal{
    width:30rem;
    height: 40rem;
    background: var(--tertiary-light);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 5px;
    border-radius: 1rem;
}
.close-btn{
    cursor: pointer;
    font-size: 1.2rem;
}

.edit-profile-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.edit-profile-form>*{
    flex-grow: 1;
}
.edit-profile-form>label input{
    background: var(--white);
    border: none;
    border-radius: 5px;
    height: auto;
    padding: 8px 4px;
}
.edit-profile-form textarea{
    background: var(--white);
}

.edit-profile-form>label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cursor-not-allowed{
    cursor: not-allowed;
}