.post-details{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    overflow-y:scroll;
}
.comments-list{
    max-width: 80%;
    height: 100vh;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}
.lists{
    width: 80%;
}
.post-details>div{
    margin: 1rem auto;
}

@media only screen and (max-width:600px){
    .post-details{
        width: 100%;
        padding: 1rem;
    }
    .comments-list{
        max-width: 100%;
        height: auto;
    }
    .lists{
        width: 100%;
    }
}