.container{
    display: flex;
    background: var(--tertiary);
    height: 100%;
    position: relative;
}

.post-details{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    overflow-y:scroll;
}
.comments-list{
    max-width: 82%;
    height: 100vh;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.post-details>div{
    margin: 1rem auto;
}