:root {
  --primary: #9333ea;
  --tertiary: #121212;
  --tertiary-light:#282828;
  --tertiary-lighter:#333333;
  --tertiary-lightest:#434343;
  --secondary:#F9CEE1;
  --primary-dark:#960200;
  --white:#fff;
  --purple-400:#c084fc;
}

img {
  max-inline-size: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}

.text-primary {
  color: var(--primary);
}
.text-white{
  color:var(--white);
}
.text-purple-400{
  color:var(--purple-400)
}

.btn{
  margin: 0;
}


.mismatch{
  color:var(--white);
  font-size: 1.2rem;
}

.avatar{
  background: var(--primary);
}
.avatar-sm{
  border-radius: 50%;
}
.avatar span{
  color: var(--white);
  font-weight: bolder;
}

@media only screen and (max-width:600px){
  html{
    font-size: 50%;
  }
}