*{
  box-sizing: border-box;
}


.post-container {
  display: flex;
  padding: 2rem 1rem;
  background: var(--tertiary-light);
  width:100%;
}

.post-body-container {
  margin-left: 1rem;
  width: 90%;
}

.username-id-container {
  display: flex;
  justify-content: space-between;
}
.username-body {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.post-body{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
.image-container{
  align-self: center;
 width: 50%;
 height:50%;
}
.image-container img{
  max-inline-size: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.post-footer {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 20px;
}

.footer-item{
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.footer-item>*{
  font-size: 1.4rem;
}

.username-body span {
  font-size: 1.2rem;
}
.username-body span:first-child {
  font-weight: bolder;
}

.options{
  position: relative;
}
.option-btn{
  cursor: pointer;
}
.option-list{
  position: absolute;
  list-style: none;
  right: 0rem;
}
.option-list li{
  background: var(--tertiary-lighter);
  color: var(--white);
  width: 14rem;
  padding: 1.2rem 1.6rem;
  cursor: pointer;
}
.option-list li:hover{
  background: var(--tertiary-lightest);
}

.poll-container{
  width:60%;
  margin: 0 auto;
}

.hashtag-container{
  display: flex;
  flex-flow: row wrap;
  gap:1rem;
  margin-top: 1rem;
}